{% block deskripsi %}
      <form action="{{ path_for('edit-deskripsi', {'id' : data.id })}}" method="post" accept-charset="utf-8" class="form-group" style="margin-top: 2%">
         <div class="row">
           <div class="col-sm-12 col-md-4">
             <span class="text-profil">DESKRIPSI SINGKAT</span>
           </div>
           <div class="col-sm-12 col-md-8">
             <textarea name="deskripsi_singkat" id=""  class="form-control">{{ data.deskripsi_singkat }}</textarea>
           </div>
         </div>
        <br>
         <div class="row">
           <div class="col-sm-12 col-md-4">
             <span class="text-profil">DESKRIPSI LENGKAP</span>
           </div>
           <div class="col-sm-12 col-md-8">
             <textarea name="deskripsi_lengkap" id="summernote"  class="form-control">{{ data.deskripsi_lengkap }}</textarea>
           </div>
         </div>
          
         <div class="col-sm-12 col-md-12 text-right" style="padding: 0">
            <button type="submit"  class="btn btn-pengaturan">SIMPAN</button>
         </div>
      </form>
<script type="text/javascript" >
  document.getElementById("file").onchange = function () {
    var reader = new FileReader();
    reader.onload = function(e) {
      document.getElementById("image").src = e.target.result;
    }
    reader.readAsDataURL(this.files[0]);
}
</script>
{% endblock %}